<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/game/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>RPS Game</title>
</head>

<body>
    <div class="container mt-5 align-items-center">
        <a href="/      "><button class="btn btn-info">HOME</button></a>
        <div class="boxy-container">
            <div class="boxy d-flex justify-content-center" id="player-gunting">
                <img src="./assets/gunting.png" alt="">
            </div>
            <div class="boxy-center d-flex justify-content-center">
                <img src="./assets/refresh.png" alt="" id="refresh">
            </div>
            <div class="boxy d-flex justify-content-center" id="com-0">
                <img src="./assets/gunting.png" alt="">
            </div>
            <div class="boxy d-flex justify-content-center" id="player-batu">
                <img src="./assets/batu.png" alt="">
            </div>
            <div class="boxy-center d-flex justify-content-center">
                <img src="./assets/vs.png" alt="">
            </div>
            <div class="boxy d-flex justify-content-center" id="com-1">
                <img src="./assets/batu.png" alt="">
            </div>
            <div class="boxy d-flex justify-content-center" id="player-kertas">
                <img src="./assets/kertas.png" alt="">
            </div>
            <div class="boxy-center d-flex justify-content-center">
                <div style="text-align: center;">
                    <h1><p style="color: white; margin: auto;" id="result"></p></h1>
                    <h4 id="pressButton" style="text-decoration: underline;"></h4>
                </div>
            </div>
            <div class="boxy d-flex justify-content-center" id="com-2">
                <img src="./assets/kertas.png" alt="">
            </div>
        </div>
    </div>
    <script src="/js/gameScript.js"></script>
</body>

</html>