<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Awesome Games Inc</title>
</head>

<body>
    <div class="main">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand ml-5" href="/">
                <img src="/assets/logo.png" class="logo rounded-circle" alt="">
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">WORK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT ME</a>
                    </li>
                </ul>
                
                <ul class="navbar-nav ml-auto mr-5">
                    <% if (!isLoggedIn) { %>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">SIGN UP</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/login">LOGIN</a>
                    </li>
                    <% } else {%>
                    <li class="nav-item active">
                        <a href="#">Hello Pro Gamer</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </nav>

        <div class="container text-center play">
            <!-- <img src="/assets/main-bg.jpg" alt=""> -->
            <h1 class="display-2 mb-5" style="color: white;"><strong>PLAY TRADITIONAL GAME</strong></h1>
            <h3 class="mb-5" style="color: white;">Experience new traditional gameplay</h3>
            <a href="/play" class="btn btn-warning btn-lg mt-5"><strong class="ml-5 mr-5">PLAY NOW</strong></a>
        </div>
    </div>

    <div class="games">
        <div class="row no-gutters align-items-center justify-content-center">
            <div class="col-sm-12 col-lg-5">
                <h3 class="font-white">What's so special?</h3>
                <h1 class="display-4 font-white">THE GAMES</h1>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <img class="d-block w-100" src="assets/features.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="assets/rockpaperstrategy-1600.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="assets/main-bg.jpg" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="features">
        <div class="row no-gutters align-items-center">
            <div class="col-sm-12 col-lg-7"></div>
            <div class="col-sm-12 col-lg-5">
                <h3 class="font-white">What's so special?</h3>
                <h1 class="display-3 font-white mb-5">FEATURES</h1>

                <p class="display-4 font-orange">TRADITIONAL GAMES</p>
                <p class="display-4 font-orange">GAME SUIT</p>
                <p class="display-4 font-orange">TBD</p>
            </div>
        </div>
    </div>

    <div class="requirements">
        <div class="row no-gutters align-items-center justify-content-left ml-5">
            <div class="col-sm-12 col-lg-1"></div>
            <div class="col-sm-12 col-lg-5">
                <h3 class="font-white">Can my computer run this game?</h3>
                <h1 class="display-4 font-white mb-5">SYSTEM REQUIREMENTS</h1>
                <table class="table table-bordered font-white">
                    <tbody>
                        <tr>
                            <td>
                                <h3 class="font-orange">OS:</h3>
                                <h5>Windows 7 64-bit only</h5>
                                <h6>(No OSX support at this time)</h6>
                            </td>
                            <td>
                                <h3 class="font-orange">PROCESSOR:</h3>
                                <h6>Intel Core 2 Duo @ 2.4 GHZ or</h6>
                                <h6>AMD Athlon X2 @ 2.8 GHZ</h6>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 class="font-orange">MEMORY:</h3>
                                <h6>4 GB RAM</h6>
                            </td>
                            <td>
                                <h3 class="font-orange">STORAGE:</h3>
                                <h6>8 GB available space</h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h3 class="font-orange">GRAPHICS:</h3>
                                <h6>NVIDIA GeForce GTX 660 2GB or</h6>
                                <h6>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="scores">
        <div class="row no-gutters align-items-center justify-content-left ml-5">
            <div class="col-sm-12 col-lg-5">
                <h1 class="display-4  mb-5">TOP SCORES</h1>
                <h3 class="">This top score from various games provided on this platform</h3>
                <button class="btn btn-warning btn-lg mt-5"><strong class="ml-5 mr-5">SEE MORE</strong></button>
            </div>
            <div class="col-sm-12 col-lg-2"></div>
            <div class="col-sm-12 col-lg-4 mr-1">
                <div class="row no-gutters align-items-right justify-content-right">
                    <div class="col-12 d-flex flex-row-reverse mb-5">
                        <div class="card" style="width: 24rem;">
                            <div class="card-body">
                                <div class="row no-gutters card-head">
                                    <div class="col-3">
                                        <img src="/assets/ava-m.png" class="img-fluid" alt="Responsive image">
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-8 mt-auto">
                                        <h5 class="card-title">Thomas Shelby</h5>
                                        <h6 class="card-subtitle mb-4 text-muted">Pro Gamer</h6>
                                    </div>
                                </div>
                                <h6 class="card-text">"This platform is reaaaal goood."</h6>
                                <small>13 October 2077</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-5">
                        <div class="card" style="width: 24rem;">
                            <div class="card-body">
                                <div class="row no-gutters card-head">
                                    <div class="col-3">
                                        <img src="/assets/ava-f.png" class="img-fluid rounded-circle"
                                            alt="Responsive image">
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-8 mt-auto">
                                        <h5 class="card-title">Shelby Thomas</h5>
                                        <h6 class="card-subtitle mb-4 text-muted">Programmer</h6>
                                    </div>
                                </div>
                                <h6 class="card-text">"They have the best games ever!".</h6>
                                <small>31 December 2077</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex flex-row-reverse ">
                        <div class="card" style="width: 24rem;">
                            <div class="card-body">
                                <div class="row no-gutters card-head">
                                    <div class="col-3">
                                        <img src="/assets/ava-m.png" class="img-fluid" alt="Responsive image">
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-8 mt-auto">
                                        <h5 class="card-title">Thotho Shelshel</h5>
                                        <h6 class="card-subtitle mb-4 text-muted">Feeder Gamer</h6>
                                    </div>
                                </div>
                                <h6 class="card-text">"Why didn't I know about this site earlier?!"</h6>
                                <small>4 July 2077</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>

</html>

<script>
    window.onload = function() {
        if( <%=!isLoggedIn%> && <%=!init%> ){
            alert("Please login")
            <%=init = true %>
        }
    }
</script>